/* This page is my personel css page called mark.css. This stylesheet deals
directly with my registration page.  
Created by: Mark Cirincione
Date of Creation: 4/5/16
Last Date of Modification: 5/4/16 */

.container {
			margin-left: auto;
			margin-right: auto;
			width: 40%;
			}
			
h1			{
			text-align: center;
			}
			
.submission_content {
			/*text-align: right;*/
			padding-right: 70px;
			}
			
.button		{
			margin-left: auto;
			margin-right: auto;
			width: 30%;
			}
			
.centerText {
			text-align: center;
			width: 30%;
			}
