/*-----------------------------------------------------------------------------
*Created by Gloria Ngo
*
*IS448 - Markup Languages
*Sreedevi Sampath
*
*Description: This is the standardizing css file that will make the pie.html
*	have a uniform look to all of its elements
*
*File Contents: css
-----------------------------------------------------------------------------*/

html, body {
	height: 100%;
}

.navbar {
	border-radius: 0pt;
}

.content {
	width: 80%;
	margin: auto;
}

.poi_select {
	height: 150px;
}

.poi {
	height: 75%;
	overflow-y: scroll;
	padding: 5px;
}

.left {
	margin-left: 0;
}

.maxHeight {
	height: 100%;
}

#map {
	width: 100%;
	height: 52em;
	margin: auto;
}

